{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
         <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    </head>
    <body >
        <style>
             body {
    font-family: Arial, sans-serif;
    background: url("{% static 'assets/OIP.jpeg' %}") no-repeat center center fixed;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}
        </style>
        <div class="signup-box">
            <h1 class="s">Sign Up</h1>
            
            <form action="" method="POST">
                {% csrf_token %}
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="username" placeholder="Enter your first name" required>
                
                
                <label for="email">Email</label>
                <input type="email" id="email"  name="email" placeholder="Enter your email" required>
                
                <label for="password">Password</label>
                <input type="password" id="password"  name="password" placeholder="Enter your password" required>
                
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password"   name="password1" placeholder="Confirm your password" required>
                
                <input type="submit" value="Submit">
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
        </div>
        
    </body>
</html>
    